<div class="ui center aligned container">
{{#link-to "generate-cache"}}
<button class="massive blue ui button">
  Create a CryptoCache
</button>
{{/link-to}}

{{#link-to "log-cache"}}
<button class="massive green ui button">
Log a CryptoCache
</button>
{{/link-to}}
</div>


{{outlet}}